.body {
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo {
  height: 100%;
  background-color: rgb(208, 171, 155);
}
.form {
  width: 100%;
  text-align: center;
}
.main {
  color: blue;
}
